<ul style="margin-left: 310px;">
<% @user.errors.each do |attre, msg| %>
  <% attre == :first_name ? @name = true && @name_flag = true : @name = false  %>
  <% attre == :last_name ? @rate = true && @last_flag = true : @rate = false  %>
  <% attre == :email ? @rate = true && @email_flag = true : @rate = false  %>
  <% attre == :password ? @rate = true && @pass_flag = true : @rate = false  %>
  <% attre == :contact_number ? @rate = true && @contact_flag = true : @rate = false  %>
  <% attre == :cnic ? @rate = true && @cnic_flag = true : @rate = false  %>
  <li style='color: red;'> <%= msg %> </li>
<% end %>
</ul>
<div class='container' style="margin-top: 40px; margin-bottom: 20px; margin-left: 310px; min-height: 200px;">
  <%= form_for @user do |f| %>

   <% if @name_flag == true %>
    <div class="form-group has-error" style="width: 25%; float: left;">
   <% else %>
    <div class="form-group" style="width: 25%; float: left;">
   <% end %>
      <%= f.label :first_name %>
      <%= f.text_field :first_name , html_options = { class: "form-control", placeholder: "First Name" } %>
    </div>

    <% if @last_flag.present? %>
      <div class="form-group has-error" style="width: 25%; float: left; margin-left: 60px;">
    <% else %>
      <div class="form-group" style="width: 25%; float: left; margin-left: 60px;">
    <% end %>
      <%= f.label :last_name %>
      <%= f.text_field :last_name , html_options = { class: "form-control", placeholder: "Last Name" } %>
    </div>

    <div>
      <div class="form-group" style="width: 25%; margin-left: 200px;">
        <%= f.label :username %>
        <%= f.text_field :username , html_options = { class: "form-control", placeholder: "Username (Optional)" } %>
      </div>
    </div>
    
    <div style="margin-top: 60px;">
      <% if @email_flag.present? %>
        <div class="form-group has-error" style="width: 25%; float: left;">
      <% else %>
        <div class="form-group" style="width: 25%; float: left;">
      <% end %>
        <%= f.label :email %>
        <%= f.text_field :email , html_options = { class: "form-control", placeholder: "Email" } %>
      </div>

      <% if @pass_flag.present? %>
        <div class="form-group has-error" style="width: 25%; float: left; margin-left: 60px;">
      <% else %>
        <div class="form-group" style="width: 25%; float: left; margin-left: 60px;">
      <% end %>
        <%= f.label :password %>
        <%= f.password_field :password, html_options = { class: "form-control", placeholder: "Password", value: @user.password.present? ? @user.password : '' } %>
      </div>
    </div>

    <% if @contact_flag.present? %>
      <div class="form-group has-error" style="width: 25%; margin-left: 200px;">
    <% else %>
      <div class="form-group" style="width: 25%; margin-left: 200px;">
    <% end %>
      <%= f.label :contact_number %>
      <%= f.text_field :contact_number , html_options = { class: "form-control", placeholder: "Contact Number without dashes" } %>
    </div>

    <% if @cnic_flag.present? %>
      <div class="form-group has-error" style="width: 25%; margin-left: 200px;">
    <% else %>
      <div class="form-group" style="width: 25%; margin-left: 200px;">
    <% end %>
      <%= f.label :cnic, 'CNIC' %>
      <%= f.text_field :cnic , html_options = { class: "form-control", placeholder: "CNIC e.g 3520221344451" } %>
    </div>

    <div>
      <div class="form-group" style="width: 25%; margin-left: 200px;">
        <%= f.label :referral_num, 'Referral Number' %>
        <%= f.text_field :referral_num , html_options = { class: "form-control", placeholder: "Referral number (Optional)" } %>
        <br />
        <strong>HINT:</strong> Referral Number indicates person referring you.
      </div>
    </div>

    <div class="checkbox" style="text-align: center; margin-left: -460px;">
      <label>
        <%= f.check_box :free %>
        Free Account <br /> (You will be able to earn money but Cannot withdraw until get premium.)
      </label>
    </div>

      <button type="submit" class="btn btn-info" style="margin-left: 290px;"><%= button %>!</button>
  <% end %>

</div>