<% if flash[:notice].present? %>
  <div id="freeow-tr", class="freeow freeow-top-right">
    <div style="opacity: 1;">
      <div class="background">
        <div class="content">
        </div>
      </div>
    </div>
  </div>
  <input type='hidden', class='sync', value= "<%= raw flash[:notice] %>" />
<% end %>
<h1 style="text-align: center; margin-top: 10px; font-family:'times new roman'; text-decoration: overline; color: #F29C06;"> Welcome <%= @user %> </h1>
<div class='container'>
  <div class='row'>
    <h3 style="font-family: 'times new roman';"> Your id is: <strong><%= session[:current_user] %></strong></h3>
    <h5> (In case to give your reference to someone.) </h5>
  </div>
  <div style="margin-bottom: 20px; margin-left: -15px; margin-top: 20px; ">
    <%= link_to 'Cash Out Request', new_cash_out_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <h2 style="font-family: 'Times new Roman'; margin-bottom: 50px;"> ADS </h2>
  </div>
</div>

<div class='container'>
  <% @ads.each do |adv| %>
    <%= render 'advertisements/banner', adv: adv  %>
  <% end %>
</div>