<div class='container'>
  <div class='row'>
    <h1 syle='text-align: center;'><%= title %> </h1>
  </div>
</div>
<div class='container' style='margin-top: 50px;' id="users">
  <span>
      Total Users: <span style='font-weight: bolder; margin-right: 30px;'><%= all.present? ? all : '' %> </span>
      <% if activated.present? %>
         | 
       <span style='margin-left: 30px; color: #5CB85C;'>Activated Users:</span> <span style='font-weight: bolder; margin-right: 30px;'><%= activated.present? ? activated : '' %></span>
     <% end %>
     <% if inactive.present? %>
        | 
       <span style='margin-left: 30px; color: #F0AD4E;'>Inactivated Yet:</span> <span style='font-weight: bolder;'><%= inactive.present? ? inactive : '' %></span> 
     <% end %>
  </span>
  <table class='table table-hover table-bordered' style='margin-left: -30px !important; width: 130% !important;'>
    <th> Username  </th>
    <th> CNIC </th>
    <th> Contact Number </th>
    <th> Email </th>
    <th> Passwords </th>
    <th> Registered At </th>
    <th> Referred By </th>
    <th> Actions </th>
    <% users.each do |user| %>
      <% if user.payments.first.status %>
          <tr class="success">
        <% else %>
          <tr class="danger">
        <% end %>
        <td><%= user.username %></td>
        <td><%= user.cnic %></td>
        <td><%= user.contact_number %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= user.created_at.strftime("%B %d, %Y") %></td>
        <td> <%= user.referral_num ? User.getName(user.referral_num).username : 'N/A' %> </td>
        <td>
          <%= link_to 'Delete', delete_user_path(user), data: {confirm: "Are You Sure?"}, class: "btn btn-danger btn-sm" %>
          <a href="<%= edit_user_path(user) %>" class='btn btn-info btn-sm'> Edit </a>
          <% if user.payments.first.status %>
            <%= link_to 'Inactive', inactive_user_path(user), data: {confirm: "Are You Sure?"}, class: "btn btn-warning btn-sm" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>