<% if session[:admin].present? %>
  <%= render 'shared/admin_actions' %>
<% end %>

<div class='container'>
  <div class='row'>
    <h2 style="font-family: 'Times new Roman'; margin-bottom: 50px;"> Set Signup Amount </h2>
    <div class='container' style="margin-top: 40px;">
      <%= form_for @amount do |f| %>
        <div class="form-group" style="width: 25%;">
          <%= f.label :fixed_amount, 'Signup Amount' %>
          <%= f.text_field :fixed_amount , html_options = { class: "form-control", placeholder: "Amount which user needs to pay" } %>
          (If nothing set then 0 will be set automatically)
          (Old amount: <%= @old_amount %>)
        </div>

        <button type="submit" class="btn btn-warning">Set Amount</button>
      <% end %>
    </div>
  </div>
</div>