<div class='container'>
  <div class='row'>
    <h1 syle='text-align: center;'><%= title %> </h1>
  </div>
</div>
<div class='container' style='margin-top: 50px;' id="users">
  <span>
      Total Payments: <span style='font-weight: bolder; margin-right: 30px;'><%= payments.present? ? payments.count : 0 %> </span>
      <% if done.present? %>
         | 
       <span style='margin-left: 30px; color: #5CB85C;'>Finished Users:</span> <span style='font-weight: bolder; margin-right: 30px;'><%= done.present? ? done : 0 %></span>
     <% end %>
     <% if pend.present? %>
        | 
       <span style='margin-left: 30px; color: #F0AD4E;'>Pending Users:</span> <span style='font-weight: bolder;'><%= pend.present? ? pend : 0 %></span> 
     <% end %>
  </span>
  <table class='table table-hover table-bordered'> 
    <th> Username  </th>
    <th> Email </th>
    <th> Contact Number </th>
    <th> Status </th>
    <th> Pay Date </th>
    <th> Payment Amount </th>
    <% if users.present? %>
      <% users.each do |user| %>
        <% if user.payments.first && user.payments.first.status %>
            <tr class="success">
          <% else %>
            <tr class="danger">
          <% end %>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.contact_number %></td>
          <td><%= user.payments.first && user.payments.first.status ? 'Done' : 'Pending' %></td>
          <td><%= user.payments.first && user.payments.first.paid_at ? user.payments.first.paid_at.strftime("%B %d, %Y") : '00-00-00' %></td>
          <td><%= @amount %></td>
          <td>
            <% if user.payments.first && user.payments.first.status %>
              <a class='btn btn-warning' onClick="window.location.reload()"> Activated </a>
            <% else %>
              <a class='btn btn-success' href="<%= active_or_inactive_user_path(user) %>" onClick="window.location.reload()"> Active </a>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>